.navbar {
    border: 1px solid #ffffff;
}

.amarelo{
   background-color: #FFD704 !important;
   height: 63px;
}

.navbar {
    background-color: #FFD704;
    height: 100px;
}
.nav-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 40px;
}
.nav-item button{
    border-radius: 20px;
    margin-left: 40px;
    background-color: #038617;
    color: #ffffff;
    
}
.nav-item img{
    height: 25px;
    width:30px;
    
}

.vinho{
    background-image: url(../img/AdobeStock_244611927.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.vinho{
    height: calc(100vh - 250px) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    
}

.vinho h2{
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vinho p{
    font-size: 20px;
    margin-bottom: 40px;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-brand{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-hero {
    background-color: #c41111;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.btn-hero:hover {
    background-color: #ffffff;
    color: #c30000;
}


.amarelo2{
    background-color: #FFD704;
}
.vermelho{
    background-image: url(../img/AdobeStock_334881645.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 580px;
    display: flex;
    text-align: start;
    justify-content: start;
    border-radius: 30px;
    margin-left: 40px;
    cursor: pointer;

        
}

.vermelho h1{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    
}

.vermelho p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;

}
.vermelho2{
    background-image: url(../img/AdobeStock_577168329.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 580px;
    display: flex;
    text-align: center;
    justify-content: end;
    border-radius: 30px;
    margin-left: 90px;
    margin-right: 20px;
    cursor: pointer;
   
    
}

.vermelho2 h1{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
}
.vermelho2 p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    
}




/*TERCEIRA PARTE -------------------- */
.vermelho3{
    height: 193px;
}
.nude{
    background-color: #efe7c3ee;
}
.branco2{
    background-color: red;
}
 
.row.branco img{
    width:301px;
    height:193px;
}

.row.nude  img{
    width:301px;
    height:193px;
}

.row.branco h1{
    color: red;
}

.row.nude h1{
    color: red;
}
.col-2.vermelho3 p{
    color: #FFD704;
    text-align: end;
    text-align: center;
}

.col-2.vermelho3 button{
    width: 111px;
    height: 40px;
    border-radius:20px 20px 20px 20px;
}

.button.btn {
    background: red; 
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    color: #fff; 
    border: none; 
    font-size: 16px;
}
/* <!-- QUARTA PARTE --------------------> */

.vermelho-emilly {
    background-color: rgb(255, 255, 255);
}

.vermelho2-emilly {
    background-color: red;
    width: 720px;
}


.lugar{
   margin: 10px;
   
}
.enviar{
    color: red;
    padding-left: 90px;

}
.clik{
    color: black;
    font-size: 15px;
   
}
#btn{
    color: yellow;
    background-color: red;
    margin: 25px;
    height:35px;
    border-radius:20px 20px 20px 20px;
    width:130px;
    text-decoration: none;
    margin-left: 0;
}

#Busca{
    
    font-size:17px;
    height:32px;
    width:350px;
    margin-bottom: 22px;
    border-radius: 10px;
}
#Busca1{
    font-size:17px;
    height:60px;
    width:350px;
    border-radius: 10px;
}
#fon{
    font-size: 15px;
    margin: 10px;
    margin-left: 0;
}

#tes{
    font-size: 15px;
}

#core{
    font-size: 15px;
}

#non{
    margin: 0%;
} 
/* <!-- QUINTA PARTE --------------------> */
*{
    transition: 0.3s;
}

.img-1:hover,
.img-2:hover {
    transform: scale(1.1);
}

.img-1 {
    height: 200px;
}



.img-2 {
    height: 150px;
}

.img-1,
.img-2 {
    background-size: cover;
    background-position: center;
    border: 7px solid #DE0A0A;
}



.row1 {
    display: flex;
    justify-content: end;

}
.vermelho {
    background-color: #DF2727 !important;
    height: 400px;
    border-radius: 7px;
}

.verde {
    background-color: #16bb00 !important;
    height: 300px;
    width: 350px;
    border-radius: 5px;
}

.vinho-breno {
    background-image: url(../img/hamburgao.jpg);
    min-height: 400px;
    position: relative;
}

.amarelo {
    background-color: rgb(255, 221, 0) !important;
    height: 111px;
    width: 1350px;

}

.bemestar {
    display: flex;
    justify-content: end;
    height: 120px;
    background-color: #b9b9b9;
    margin-top: 20px;
    margin-left: 30px;
    border: 4px solid #DE0A0A;
}
.lugar1 {

    border: 4px solid #ffffff;
    height: 200px;
}

.lugar2 {
    border: 4px solid #ffffff;
    height: 200px;
}

.branco1 {
    background-color: #ffffff;
    width: 500px;
    height: 60px;
}

.branco2 {
    background-color: #ffffff;
    width: 600px;
    height: 60px;
}

.letra h1 {
    color: yellow;
    padding-left: 120px;

    padding-top: 35px;
    font-size: 60px;
}
#logo {
    padding-left: 100px;
    margin-top: 40px;
}

#Estação {
    padding-left: 150px;
    margin-top: -30px;
    color: black;
}

#tell {
    padding-left: 1100px;
    margin-top: -80px;
}

#endereço {
    padding-left: 1100px;
    margin-top: -10px;
}
.insta {
    padding-left: 130px;
    margin-top: 20px;
}

.insta2 {
    padding-left: 170px;
    margin-top: -40px;
    color: white;
}

.youtube {
    padding-left: 130px;
}

.youtube2 {
    padding-left: 170px;
    margin-top: -33px;
    color: white;
}

.tiktok {
    padding-left: 135px;
}

.tiktok2 {
    padding-left: 170px;
    margin-top: -33px;
    color: white;
}

.arrumando {
    color: #DE0A0A;
}